{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">من نحن</h1>
                    <p class="lead fw-normal text-white-50 mb-0">موقع إيجاري...لعروض العقارات</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    موقع إيجاري هو منصة شاملة تم تطويرها لتبسيط عمليات تأجير العقارات وربط الملاك بالمستأجرين بطريقة سلسة وفعالة. يوفر الموقع مجموعة من الأدوات الذكية التي تسمح للمستخدمين باستعراض العقارات المتاحة بمختلف أنواعها، من شقق ومنازل إلى مكاتب ومحلات تجارية، مع إمكانية تصفية النتائج حسب الموقع، الميزانية، والمساحة.
<br/><br/>
يتيح الموقع للمالكين نشر إعلاناتهم بسهولة عبر نموذج واضح وسريع لرفع التفاصيل والصور، مما يجعل عرض العقار في أفضل حالاته لجذب المستأجرين. كما يتميز بخاصية عرض معلومات دقيقة وواضحة حول كل إعلان، بما في ذلك السعر، الموقع على الخريطة، والمزايا الإضافية.

تم تصميم الموقع ليكون مريحًا للمستخدم، مع واجهة جذابة وسهلة التنقل تدعم اللغتين العربية والإنجليزية، مما يضمن تلبية احتياجات جمهور واسع من المستخدمين. كما يوفر خيارات للتواصل المباشر مع أصحاب الإعلانات لضمان تجربة إيجار شفافة وآمنة.
<br/><br/>
هذا الموقع ليس مجرد منصة للإعلانات، بل هو حل متكامل يساعد المستخدمين على تحقيق تجربة بحث وتأجير عقاري ناجحة بأقل جهد وفي أسرع وقت.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}