{% extends 'base.html' %}
{% block content %}


<div class="container">
  <br/>
  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
          <h5 class="card-title">{{ product.name }}</h5>
          <br/>
          <p class="card-text justified">{{ product.description }}</p>
          
          {% if product.is_sale %}
          <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                  &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                  <div class="bi-star-fill"></div>
                  </div>
  
                  <!-- Product price-->
                  <strike>
                  ${{ product.price }}
                  </strike>
                  &nbsp;
                  ${{ product.sale_price }}
  
  
  
          {% else %}
              ${{ product.price }}
              
          {% endif %}
              <br/><br/>
              <!--
              <div class="row justify-content-center">
                <div class="col-md-2">تاريخ الوصول:</div>
                <div class="col-md-4">
                    <input type="date" class="form-control form-control-sm" id="checkin-date" name="checkin-date" onchange="updateCheckoutMinDate()">
                </div>
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-md-2">تاريخ المغادرة:</div>
                <div class="col-md-4">
                    <input type="date" class="form-control form-control-sm" id="checkout-date" name="checkout-date">
                </div>
            </div>
            
            <script>
                function updateCheckoutMinDate() {
                    const checkinDate = document.getElementById('checkin-date').value;
                    const checkoutDate = document.getElementById('checkout-date');
            
                    // إذا تم اختيار تاريخ الوصول
                    if (checkinDate) {
                        // ضبط الحد الأدنى لتاريخ المغادرة
                        checkoutDate.min = checkinDate;
            
                        // إذا كان تاريخ المغادرة الحالي أقل من تاريخ الوصول، يتم مسحه
                        if (checkoutDate.value < checkinDate) {
                            checkoutDate.value = '';
                        }
                    }
                }
            </script>
            -->
              <br/><br/>
              <button type="button" class="btn btn-secondary" onclick="this.textContent='{{ product.phone_number }}'; this.disabled=true;">
                رقم الهاتف
            </button>

            {% if request.user != product.user %}
    <button type="button" class="btn btn-primary" 
        onclick="location.href='{% url 'chat' product.id product.user.id %}'">
        الدردشة مع المؤجر
    </button>
            {% else %}
    <a href="{% url 'inbox' %}" class="btn btn-info">صندوق الرسائل</a>
            {% endif %}

        
          

            <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">
              إضافة إلى المفضلة
          </button>  
  
                    
      </center>
        </div>
      </div>
    </div>
  </div>
  </div>
    

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<!-- product.html -->
<div class="container mt-5">
  <h1>{{ product.name }}</h1>
  <p>{{ product.description }}</p>
  <h3>${{ product.price }}</h3>

  <h4>Reviews:</h4>
  {% for review in product.reviews.all %}
      <div class="card mt-3">
          <div class="card-body">
              <strong>{{ review.user.username }}</strong> - {{ review.rating }} Stars
              <p>{{ review.comment }}</p>
          </div>
      </div>
  {% empty %}
      <p>No reviews yet. Be the first to review!</p>
  {% endfor %}

  <h4>Add Your Review:</h4>
  {% if user.is_authenticated %}
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
  {% else %}
      <p><a href="{% url 'login' %}">Login</a> to leave a review.</p>
  {% endif %}
</div>


<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
    product_id: $('#add-cart').val(),
    product_qty: $('#qty-cart option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
        },

        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})




</script>


{% endblock %}